div {
    line-height: 50px;
    font-size: 30px;
    /* vertical-align: center; */
    font-family: arial;
  }
  
  button {
    margin: 0 10px;
    background-color: #fff;
    border: 2px solid black;
    font-weight: bold;
    font-size: 30px;
    min-width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;
    
  }
  button:disabled {
    opacity: 0.3
  }