* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: black;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  flex-grow: 1;
}

a {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 25px;
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 4px solid black;
}

a:hover{
  color: coral;

}

section{
  padding-top: 30px;
  text-align: center;

}

.active{
  border-bottom-color: coral;
}

.home_selected{
  border-bottom-color: orange;
}

.news_selected{
  border-bottom-color: green;
}

.contact_selected{
  border-bottom-color: blueviolet;
}